<section class="context">{{context}}</section>
{{#q1_optionA}}<section class="question"><h3>Blank 1</h3><ol type="A"><li>{{q1_optionA}}</li><li>{{q1_optionB}}</li><li>{{q1_optionC}}</li><li>{{q1_optionD}}</li></ol></section>{{/q1_optionA}}
{{#q2_optionA}}<section class="question"><h3>Blank 2</h3><ol type="A"><li>{{q2_optionA}}</li><li>{{q2_optionB}}</li><li>{{q2_optionC}}</li><li>{{q2_optionD}}</li></ol></section>{{/q2_optionA}}
{{#q3_optionA}}<section class="question"><h3>Blank 3</h3><ol type="A"><li>{{q3_optionA}}</li><li>{{q3_optionB}}</li><li>{{q3_optionC}}</li><li>{{q3_optionD}}</li></ol></section>{{/q3_optionA}}
{{#q4_optionA}}<section class="question"><h3>Blank 4</h3><ol type="A"><li>{{q4_optionA}}</li><li>{{q4_optionB}}</li><li>{{q4_optionC}}</li><li>{{q4_optionD}}</li></ol></section>{{/q4_optionA}}
